apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-operator
data:
  # spilo image (patroni / postgres bundle)
  docker_image: {{ .Values.operator.image }}:{{ .Values.operator.imageTag }}

  # the env var with the same name in the operator pod may overwrite this value
  # if neither is set or evaluates to the empty string, listen to the operator's own namespace
  # if set to the "*", listen to all namespaces
  watched_namespace: {{ .Release.Namespace }}

  # service-account of the operator
  service_account_name: {{ .Values.serviceaccount.name | default "postgres-operator" }}

  # database user names
  # name for the superuser, set during initialization (initdb) and later used by Patroni to connect to the postgres.
  super_username: {{ .Values.operator.super_username | default "postgres" }}
  # replication username; the user will be created during initialization. Replicas will use this user to access master via streaming replication
  replication_username: {{ .Values.operator.replication_username | default "standby" }}
  # naming format of k8s secrets that contain user/pwd credentials of db users
  secret_name_template: "{cluster}.{username}.credentials"

  cluster_labels: application:spilo
  cluster_name_label: version

  node_eol_label: {{ .Values.operator.node_eol_label | default "lifecycle-status:pending-decommission" }}
  node_readiness_label: {{ .Values.operator.node_readiness_label | default "" }}

  # pod-disruption-budget?
  pdb_name_format: {{ .Values.operator.pdb_name_format | default "{cluster}-postgres-pdb" | quote }}
  # pod lifecycle configuration settings
  pod_role_label: spilo-role
  pod_deletion_wait_timeout: {{ .Values.operator.pod_deletion_wait_timeout | default "10m" }}
  pod_label_wait_timeout: {{ .Values.operator.pod_label_wait_timeout | default "10m" }}
  pod_terminate_grace_period: {{ .Values.operator.pod_terminate_grace_period | default "5m" }}
  ready_wait_interval: {{ .Values.operator.ready_wait_interval | default "3s" }}
  ready_wait_timeout: {{ .Values.operator.ready_wait_timeout | default "30s" }}

  # postgres k8s service type switch ?
  enable_load_balancer: "false"
  # service type 'load-balancer' related annotations?
  #db_hosted_zone: db.example.com
  #master_dns_name_format: '{cluster}.{team}.staging.{hostedzone}'
  #replica_dns_name_format: '{cluster}-repl.{team}.staging.{hostedzone}'

  etcd_host: ""
  #infrastructure_roles_secret_name: postgresql-infrastructure-roles
  #oauth_token_secret_name: postgres-operator

  # team-api settings
  # to enable oAuth postgres access
  enable_teams_api: "false"
  enable_team_superuser: "false"
  #team_admin_role: "admin"
  #teams_api_url: http://fake-teams-api.default.svc.cluster.local
  #team_api_role_configuration: "log_statement:all"
  #pam_configuration: |
  #  https://info.example.com/oauth2/tokeninfo?access_token= uid realm=/employees
  #pam_role_name: {{ .Values.operator.pam_role_name }}

  resource_check_interval: {{ .Values.operator.resource_check_interval | default "3s" }}
  resource_check_timeout: {{ .Values.operator.resource_check_timeout | default "10m" }}
  resync_period: {{ .Values.operator.resync_period | default "5m" }}

  # number of go routines that process the cluster events: 
  # https://github.com/zalando-incubator/postgres-operator/blob/6a29bbbcfad598b99020f34e3185c2db9070dd58/pkg/controller/controller.go#L224
  workers: {{ .Values.operator.workers | default "4" | quote }}

  # Rest API ?
  api_port: {{ .Values.operator.api_port | default "8080" | quote }}

  # logging stuff
  debug_logging: "true"
  ring_log_lines: {{ .Values.operator.ring_log_lines | default "100" | quote }}
  cluster_history_entries: {{ .Values.operator.cluster_history_entries | default "1000" | quote }}
